[submodule "third-party/flashlight"]
	path = third-party/flashlight
	url = https://github.com/facebookresearch/flashlight.git
[submodule "third-party/warp-transducer"]
	path = third-party/warp-transducer
	url = https://github.com/HawkAaron/warp-transducer.git
[submodule "third-party/nccl"]
	path = third-party/nccl
	url = https://github.com/NVIDIA/nccl.git
[submodule "third-party/apex"]
	path = third-party/apex
	url = https://github.com/NVIDIA/apex.git
